{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
         <article>
             <div class="date">
                 <p>published: {{ post.published_date }}</p>
             </div>
             <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
             <p>{{ post.text|linebreaksbr }}</p>
         </article>
    {% endfor %}
{% endblock %}
