header {
    background-color: #C25100;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

header h1, header h1 a, header h1 a:visited, header h1 a:active {
    color: #ffffff;
    font-size: 250%;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Cantarell';
    font-weight: bolder;
}

.date {
    color: #828282;
    float: right;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.btn-default {
    float:right;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

article {
    margin-bottom: 70px;
}

article h2 a, article h2 a:visited {
    color: #000000;
}
